.bg-teal-50{
background-color: #E0F2F1 !important;
}
.bg-teal-100{
background-color: #B2DFDB !important;
}
.bg-teal-200{
background-color: #80CBC4 !important;
}
.bg-teal-300{
background-color: #4DB6AC !important;
}
.bg-teal-400{
background-color: #26A69A !important;
}
.bg-teal-500{
background-color: #009688 !important;
}
.bg-teal-600{
background-color: #00897B !important;
}
.bg-teal-700{
background-color: #00796B !important;
}
.bg-teal-800{
background-color: #00695C !important;
}
.bg-teal-900{
background-color: #004D40 !important;
}
.bg-teal-A100{
background-color: #A7FFEB !important;
}
.bg-teal-A200{
background-color: #64FFDA !important;
}
.bg-teal-A400{
background-color: #1DE9B6 !important;
}
.bg-teal-A700{
background-color: #00BFA5 !important;
}

.text-teal-50{
color: #E0F2F1 !important;
}
.text-teal-100{
color: #B2DFDB !important;
}
.text-teal-200{
color: #80CBC4 !important;
}
.text-teal-300{
color: #4DB6AC !important;
}
.text-teal-400{
color: #26A69A !important;
}
.text-teal-500{
color: #009688 !important;
}
.text-teal-600{
color: #00897B !important;
}
.text-teal-700{
color: #00796B !important;
}
.text-teal-800{
color: #00695C !important;
}
.text-teal-900{
color: #004D40 !important;
}
.text-teal-A100{
color: #A7FFEB !important;
}
.text-teal-A200{
color: #64FFDA !important;
}
.text-teal-A400{
color: #1DE9B6 !important;
}
.text-teal-A700{
color: #00BFA5 !important;
}
.teal-to-teal-A400{
	background-image: linear-gradient(to bottom right, darken(#1DE9B6,3%), #1DE9B6, lighten(#1DE9B6,8%), #1DE9B6, darken(#1DE9B6,3%));
}
.blue-to-blue{
	background-image: linear-gradient(to bottom right, darken(#a7ffeb,3%), #a7ffeb, lighten(#a7ffeb,8%), #a7ffeb, darken(#a7ffeb,3%));
}
